<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="example-container">
        <div class="example-example">
          <div class="example-cv-templatewithout-photo">
            <div class="example-sidebar">
              <img
                src="public/external/rectangle1234-915f-300w.png"
                alt="Rectangle1234"
                class="example-rectangle1"
              />
              <div class="example-content1">
                  <div class="example-frame1">
                      <span class="example-text10">Frontend Developer</span>
                      <span class="example-text10">Hani Husamuddin</span>
                </div>
                <div class="example-frame41">
                  <div class="example-frame2">
                    <span class="example-text12">
                      Surakarta, December 2, 1994
                    </span>
                  </div>
                  <div class="example-frame3">
                    <span class="example-text13">+62 822 2045 4652</span>
                  </div>
                  <div class="example-frame42">
                    <span class="example-text14">hani.husam@gmail.com</span>
                  </div>
                  <div class="example-frame5">
                    <span class="example-text15">Yogyakarta, Indonesia</span>
                  </div>
                </div>
                <div class="example-frame61">
                  <span class="example-text16">Skills</span>
                    <span class="example-text17">
                        <span>HTML and CSS</span>
                    <br/>
                    
                  </span>
                </div>
                <div class="example-frame71">
                  <span class="example-text25">Honor &amp; Award</span>
                  <div class="example-frame91">
                    <div class="example-frame81">
                      <span class="example-text26">Best Graduated</span>
                      <span class="example-text27">2019</span>
                    </div>
                    <span class="example-text28">
                      Included in one of the award recipients of the best
                      graduate students in the IV graduation period of UPN
                      “Veteran” Yogyakarta
                    </span>
                  </div>
                </div>
                <div class="example-frame82">
                  <span class="example-text29">Hobbies &amp; Interest</span>
                  <span class="example-text30">
                    <span>Apple device</span>
                    <br />
                    <span>Movie</span>
                    <br />
                    <span>Book</span>
                  </span>
                </div>
                <div class="example-frame92">
                  <span class="example-text36">Links and Credentials</span>
                  <div class="example-frame121">
                    <div class="example-frame10">
                      <img
                        src="public/external/simpleiconslinkedin318-a8i.svg"
                        alt="simpleiconslinkedin318"
                        class="example-simpleiconslinkedin"
                      />
                      <span class="example-text37">Linkedin</span>
                    </div>
                    <div class="example-frame11">
                      <img
                        src="public/external/simpleiconsgithub334-cgqk.svg"
                        alt="simpleiconsgithub334"
                        class="example-simpleiconsgithub"
                      />
                      <span class="example-text38">Github</span>
                    </div>
                  </div>
                  <div class="example-frame131">
                    <div class="example-frame141">
                      <img
                        src="public/external/simpleiconsdribbble362-mpvf.svg"
                        alt="simpleiconsdribbble362"
                        class="example-simpleiconsdribbble"
                      />
                      <span class="example-text39">Dribbble</span>
                    </div>
                    <div class="example-frame132">
                      <img
                        src="public/external/simpleiconsinstagram366-wfnt.svg"
                        alt="simpleiconsinstagram366"
                        class="example-simpleiconsinstagram"
                      />
                      <span class="example-text40">Instagram</span>
                    </div>
                  </div>
                  <div class="example-frame142">
                    <div class="example-frame122">
                      <div class="example-featherexternallink">
                        <div class="example-group">
                          <img
                            src="public/external/vector396-85gk.svg"
                            alt="Vector396"
                            class="example-vector1"
                          />
                          <img
                            src="public/external/vector397-68xg.svg"
                            alt="Vector397"
                            class="example-vector2"
                          />
                          <img
                            src="public/external/vector398-k44r.svg"
                            alt="Vector398"
                            class="example-vector3"
                          />
                        </div>
                      </div>
                      <span class="example-text41">Website</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="example-main">
              <img
                src="public/external/rectangle2235-4g8e-900h.png"
                alt="Rectangle2235"
                class="example-rectangle2"
              />
              <div class="example-content2">
                <div class="example-frame62">
                  <div class="example-frame151">
                    <span class="example-text42">About</span>
                    <img
                      src="public/external/rectangle33104-plmt-200h.png"
                      alt="Rectangle33104"
                      class="example-rectangle31"
                    />
                  </div>
                  <span class="example-text43">
                    I have a background in information technology, with a focus
                    on frontend development and UI design. I am the type of
                    person who seizes every opportunity to learn something new.
                    That is why I enjoy challenges. From there, I'm under
                    pressure to learn quickly and gain a lot of new experience.
                  </span>
                </div>
                <div class="example-frame72">
                  <div class="example-frame152">
                    <span class="example-text44">Education</span>
                    <img
                      src="public/external/rectangle33109-xjrb-200h.png"
                      alt="Rectangle33109"
                      class="example-rectangle32"
                    />
                  </div>
                  <div class="example-frame171">
                    <span class="example-text45">2015 - 2019</span>
                    <div class="example-frame161">
                      <div class="example-frame181">
                        <img
                          src="public/external/ellipse13126-b1yr-200h.png"
                          alt="Ellipse13126"
                          class="example-ellipse11"
                        />
                      </div>
                      <div class="example-frame191">
                        <span class="example-text46">
                          Informtics, Universitas Pembangunan Nasional ”Veteran”
                          Yogyakarta
                        </span>
                        <span class="example-text47">
                          Bachelor of Computer Science, Artificial Intelligence
                        </span>
                        <span class="example-text48">
                          I graduated in July 2019 with a GPA of 3.63. One of
                          the award recipients for the best graduate of the
                          university at the time. In my thesis, I looked into
                          how Natural Language Processing (NLP) was used in
                          Telegram Bot. For the NLP approach method, I used
                          Neural Network (Deep Learning) and Text Mining.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="example-frame83">
                  <div class="example-frame153">
                    <span class="example-text49">Experience</span>
                    <img
                      src="public/external/rectangle33134-lchp-200h.png"
                      alt="Rectangle33134"
                      class="example-rectangle33"
                    />
                  </div>
                  <div class="example-frame172">
                    <div class="example-companylogo1">
                      <img
                        src="public/external/image14147-e51c-200h.png"
                        alt="image14147"
                        class="example-image1"
                      />
                    </div>
                    <div class="example-frame162">
                      <div class="example-frame182">
                        <img
                          src="public/external/ellipse13139-y4bc-200h.png"
                          alt="Ellipse13139"
                          class="example-ellipse12"
                        />
                      </div>
                      <div class="example-frame192">
                        <span class="example-text50">Upwork</span>
                        <div class="example-frame201">
                          <span class="example-text51">Frontend Developer</span>
                          <span class="example-text52">Nov 2019 - present</span>
                        </div>
                        <span class="example-text53">
                          Upwork is an American freelancing platform where
                          enterprises and individuals connect in order to
                          conduct business. I am currently accepting remote or
                          freelance Web Development and UI Design work from this
                          platform.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="example-frame183">
                    <div class="example-companylogo2">
                      <img
                        src="public/external/image24159-w2q6-200h.png"
                        alt="image24159"
                        class="example-image2"
                      />
                    </div>
                    <div class="example-frame163">
                      <div class="example-frame184">
                        <img
                          src="public/external/ellipse14153-5pvj-200h.png"
                          alt="Ellipse14153"
                          class="example-ellipse13"
                        />
                      </div>
                      <div class="example-frame193">
                        <span class="example-text54">Currinda Pty. Ltd.</span>
                        <div class="example-frame202">
                          <span class="example-text55">UI Engineer</span>
                          <span class="example-text56">
                            Oct 2020 - Aug 2021
                          </span>
                        </div>
                        <span class="example-text57">
                          I am a member of the Engineer Team, along with three
                          other people. I am in charge of creating an interface
                          design that is both user-friendly and consistent with
                          the company's brand. I also assist the team with
                          frontend development, particularly in the creation of
                          design systems and UI components with React.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="example-frame194">
                    <div class="example-companylogo3">
                      <img
                        src="public/external/image34181-l0ol-200h.png"
                        alt="image34181"
                        class="example-image3"
                      />
                    </div>
                    <div class="example-frame164">
                      <div class="example-frame185">
                        <img
                          src="public/external/ellipse14172-72cr-200h.png"
                          alt="Ellipse14172"
                          class="example-ellipse14"
                        />
                      </div>
                      <div class="example-frame195">
                        <span class="example-text58">Bubays Pte. Ltd.</span>
                        <div class="example-frame203">
                          <span class="example-text59">Web Developer</span>
                          <span class="example-text60">
                            May 2019 - Nov 2019
                          </span>
                        </div>
                        <span class="example-text61">
                          I am in charge of the company website's full-stack
                          development and maintenance. The job entails creating
                          and maintaining a website from the ground up. In
                          addition, I am the only Web Developer in this company.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="example-frame93">
                  <div class="example-frame154">
                    <span class="example-text62">Volunter Experience</span>
                    <img
                      src="public/external/rectangle34185-xicr-200h.png"
                      alt="Rectangle34185"
                      class="example-rectangle34"
                    />
                  </div>
                  <div class="example-frame173">
                    <div class="example-companylogo4">
                      <img
                        src="public/external/image44226-ohaq-200h.png"
                        alt="image44226"
                        class="example-image4"
                      />
                    </div>
                    <div class="example-frame165">
                      <div class="example-frame186">
                        <img
                          src="public/external/ellipse14191-trl-200h.png"
                          alt="Ellipse14191"
                          class="example-ellipse15"
                        />
                      </div>
                      <div class="example-frame196">
                        <span class="example-text63">KawalCOVID19</span>
                        <div class="example-frame204">
                          <span class="example-text64">Frontend Developer</span>
                          <span class="example-text65">Oct 2020 - present</span>
                        </div>
                        <span class="example-text66">
                          Assisting in the resolution of several user-related
                          issues. API integration and system design jobs are
                          among them. For the time being, I'm also working with
                          the team on the wargabantuwarga.com and silacak.com
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
