.pop-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.pop-extralight {
font-family: "Poppins", serif;
font-weight: 200;
font-style: normal;
}

.pop-light {
font-family: "Poppins", serif;
font-weight: 300;
font-style: normal;
}

.pop-regular {
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}

.pop-medium {
font-family: "Poppins", serif;
font-weight: 500;
font-style: normal;
}

.pop-semibold {
font-family: "Poppins", serif;
font-weight: 600;
font-style: normal;
}

.pop-bold {
font-family: "Poppins", serif;
font-weight: 700;
font-style: normal;
}

.pop-extrabold {
font-family: "Poppins", serif;
font-weight: 800;
font-style: normal;
}

.pop-black {
font-family: "Poppins", serif;
font-weight: 900;
font-style: normal;
}

.pop-thin-italic {
font-family: "Poppins", serif;
font-weight: 100;
font-style: italic;
}

.pop-extralight-italic {
font-family: "Poppins", serif;
font-weight: 200;
font-style: italic;
}

.pop-light-italic {
font-family: "Poppins", serif;
font-weight: 300;
font-style: italic;
}

.pop-regular-italic {
font-family: "Poppins", serif;
font-weight: 400;
font-style: italic;
}

.pop-medium-italic {
font-family: "Poppins", serif;
font-weight: 500;
font-style: italic;
}

.pop-semibold-italic {
font-family: "Poppins", serif;
font-weight: 600;
font-style: italic;
}

.pop-bold-italic {
font-family: "Poppins", serif;
font-weight: 700;
font-style: italic;
}

.pop-extrabold-italic {
font-family: "Poppins", serif;
font-weight: 800;
font-style: italic;
}

.pop-black-italic {
font-family: "Poppins", serif;
font-weight: 900;
font-style: italic;
}
