<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
   
    <title>template 1</title>
</head>
<body style="font-family: poppins;">
    <div class="container text-[16px] bg-white w-[21cm] h-[29.7cm] p-[30px]">
        <div class="firstSection flex flex-wrap justify-center items-center gap-5">
            <div class="ImageProfile col-span-1 max-h-[150px] max-w-[150px] overflow-hidden border rounded-3xl">
                <img class="object-cover w-[100%] h-[100%] " src="../images/template/image.png" alt="">
            </div>
            <div>
                <div class="NameProfile col-span-1 flex justify-end flex-col">
                    <h1 class="text-6xl font-bold">Web Developer</h1>
                    <h3 class="text-4xl ">Jawad Boulmal</h3>
                </div>
                <div class="col-span-1 flex flex-col text-sm profileInfo justify-end text-[10px] gap-2 mt-3">
                    <p>Casablanca</p>
                    <div class="Links flex gap-2">
                        <a href="#" class="font-semibold hover:font-bold">linkdein</a>|
                        <a href="#" class="font-semibold hover:font-bold">Email</a>|
                        <a href="#" class="font-semibold hover:font-bold">Github</a>|
                        <a href="#" class="font-semibold hover:font-bold">Portfolio</a>|
                        <p class="font-semibold hover:font-bold">+212632773027</p>
                    </div>
                </div>
            </div>
            <div class="description col-span-3">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, aut excepturi aspernatur asperiores sequi maiores vel impedit autem laborum quisquam doloribus quo dolorem vitae a blanditiis quas voluptates sed qui?</p>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-7 mt-7">
            <div class="secondSection col-span-1 grid gap-4">
                <div class="Skills1">
                    <h3 class="text-2xl font-bold">Skills</h3>
                    <ul>
                        <li>Html</li>
                        <li>Css</li>
                        <li>Js</li>
                    </ul>
                </div>
                <div id="" class="education">
                    <h3 class="text-2xl font-bold mb-3">Education</h3>
                    <ul class="grid gap-3">
                        <li>
                            <p class="font-bold">Albuhturi - Casablanca</p>
                            <p>20/20/2020</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quibusdam. Pariatur vero asperiores mollitia officia fuga, ipsa expedita magni iure error ea illum dicta saepe iste doloribus deleniti ipsam nam!</p>
                        </li>
                        <li>
                            <p class="font-bold">Albuhturi - Casablanca</p>
                            <p>20/20/2020</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quibusdam. Pariatur vero asperiores mollitia officia fuga, ipsa expedita magni iure error ea illum dicta saepe iste doloribus deleniti ipsam nam!</p>
                        </li>
                    </ul>
                </div>
                <div id="languageSection" class="Language">
                    <h3 class="text-2xl font-bold mb-3">Language</h3>
                    <ul class="grid gap-3">
                        <li>
                            <p class="font-semibold">English(<span class="italic ">native</span>)</p>
                            <p class="font-semibold">French(<span class="italic ">native</span>)</p>
                        </li>
                    </ul>
                </div>
                <div id="certife" class="Certification">
                        <h3 class="text-2xl font-bold mb-3">Certifications</h3>
                        <ul class="grid gap-3">
                            <li>
                                <p class="font-semibold">HTML Certification <span class="italic"><a href="">URL</a></span></p>
                                <p class="font-semibold">Css Certification <span class="italic"><a href="">URL</a></span></p>
                                <p class="font-semibold">Js Certification <span class="italic"><a href="">URL</a></span></p>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="thirdSection col-span-2 bg-slate-300 flex flex-col gap-5 p-[20px]">
                <!-- ProExper -->
                <div>
                    <h2 class="mb-3 font-bold text-3xl">Professional Experience</h2>
                    <div class="flex justify-between items-center mb-2">
                        <div>
                            <p class="font-semibold text-2xl">ListToGo - Siteweb</p>
                            <p class="font-semibold " >FrontEnd Developer | Youssoufia</p>
                        </div>
                        <div class="">
                            <p>20/20/2020</p>
                        </div>
                    </div>
                    <div class="descriptionExper mb-4">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque similique maiores vel quae, commodi facilis ratione minima autem aspernatur, vero repudiandae dolores repellendus nisi recusandae vitae molestias adipisci laborum quisquam.</p>
                    </div>
                    
                    <div class="flex justify-between items-center mb-2">
                        <div>
                            <p class="font-semibold text-2xl">ListToGo - Siteweb</p>
                            <p class="font-semibold " >FrontEnd Developer | Youssoufia</p>
                        </div>
                        <div class="">
                            <p>20/20/2020</p>
                        </div>
                    </div>
                    <div class="descriptionExper">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque similique maiores vel quae, commodi facilis ratione minima autem aspernatur, vero repudiandae dolores repellendus nisi recusandae vitae molestias adipisci laborum quisquam.</p>
                    </div>
                    
                </div>
                <!-- Education -->
                <div>
                    <h2 class="mb-3 font-bold text-3xl">Education</h2>
                    <div class="flex justify-between items-center mb-2">
                        <div>
                            <p class="font-semibold text-2xl">Albuhturi - Casablanca</p>
                            <p class="font-semibold " >16/20</p>
                        </div>
                        <div class="">
                            <p>20/20/2020</p>
                        </div>
                    </div>
                    <div class="descriptionExper mb-4">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque similique maiores vel quae, commodi facilis ratione minima autem aspernatur, vero repudiandae dolores repellendus nisi recusandae vitae molestias adipisci laborum quisquam.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>